body {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.menuitem {
    padding-left: 10px;
}

a {
    transition: color .5s;
}

a:hover {
    color: lightblue;
}

nav ul li {
    display: inline;
}

li {
    padding-left: 4%;
}

#menu {
    display: inline;
}

#header {
    width: 100%;
    height: 300%;
}

#banner-top {
    width: 100%;
    height: 50em;
    background: url("asset/char.png") fixed no-repeat center center;
    background-size: cover;
    text-align: center;
}

#white-transparent {
    color: transparent;
    background-color: transparent;
    height: 100%;
    transition: 0.5s;
}

#white-transparent:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

.banner-name {
    font-size: 50px;
    font-family: 'Noto Sans Bamum';
    font-weight: bold;
    margin: auto;
    padding-top: 10%;
}

.banner-intro {
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    color: black;
    padding-left: 5%;
    text-decoration: none;
}

#footer {
    background-color: rgba(255, 255, 255, 0.5)
}

.logo {
    background: url("asset/char.png");
}

.title {
    color: mediumpurple;
    font-size: 2em;
}

#content {
    text-align: center;
    font-size: 15px;
    padding-left: 1%;
    padding-right: 2%;
}

.content {
    font-size: 15px;
}

.lang-icon {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    padding-top: 5px;
}

#python-logo:hover {
    filter: invert(39) sepia(56%) saturate(632%) hue-rotate(166deg) brightness(92%) contrast(81%);
}

#cpluscplus-logo:hover {
    filter: invert(22%) sepia(89%) saturate(1578%) hue-rotate(185deg) brightness(96%) contrast(103%);
}

#mysql-logo:hover {
    filter: invert(45%) sepia(8%) saturate(2969%) hue-rotate(163deg) brightness(93%) contrast(83%);
}

#go-logo:hover {
    filter: invert(48%) sepia(56%) saturate(3138%) hue-rotate(160deg) brightness(100%) contrast(101%);
}

#html-logo:hover {
    filter: invert(27%) sepia(25%) saturate(6417%) hue-rotate(355deg) brightness(116%) contrast(78%);
}

#css-logo:hover {
    filter: invert(32%) sepia(19%) saturate(6805%) hue-rotate(186deg) brightness(92%) contrast(84%);
}

#js-logo:hover {
    filter: invert(96%) sepia(87%) saturate(7498%) hue-rotate(339deg) brightness(101%) contrast(94%);
}