body {
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.menuitem {
    padding-left: 10px;
}

a:hover {
    animation: makeblue 0.5s forwards;
}
@keyframes makeblue {
    100% {
        color: lightblue;
    }
}

nav ul li {
    display: inline;
}

li {
    padding-left: 4%;
}

#menu {
    display: inline;
}

#header {
    width: 100%;
    height: 30em;
}

#banner-top {
    width: 100%;
    height: 100%;
    background: url("asset/char.png") fixed no-repeat center center;
    background-size: cover;
    text-align: center;
}

#white-transparent {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
}

#white-transparent:hover {
    animation: fadeout 1s forwards;
}

.banner-name {
    font-size: 50px;
    font-family: NanumSquareRoundOTF, serif;
    margin-left: 5%;
    padding-top: 10%;
}

.banner-intro {
    font-size: 30px;
    font-family: NanumSquareRoundOTF, serif;
    margin-left: 5%
}

a {
    color: black;
    padding-left: 5%;
    text-decoration: none;
}

#footer {
    background-color: rgba(255, 255, 255, 0.5)
}

.logo {
    background: url("asset/char.png");
}

@keyframes fadeout {
    100% {
        color: transparent;
        background-color: transparent;
    }

}

.title {
    color: mediumpurple;
    font-size: 2em;
}

#content {
    text-align: center;
    font-size: 15px;
    padding-left: 1%;
    padding-right: 2%;
}

.content {
    font-size: 15px;
}