/* ==========================================================================
   flyahn skin
   ========================================================================== */

/* Colors */
$background-color: #f7f7f1 !default;
$text-color: #070707 !default;
$primary-color: #AFCBFF !default;

$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #262626;
$code-background-color-dark: rgba(185, 185, 185, 0.25) !default;

$mark-highlight-color: rgba($primary-color, 0.15) !default;
$block-quote-background-color: rgba($primary-color, 0.1) !default;
$form-background-color: rgba(255, 255, 255, 0.527) !default;
$footer-background-color: mix(#000, $background-color, 3%) !default;
$link-color: #6FA2E8;
$link-color-hover: #5C93DB;
$link-color-visited: mix($link-color, rgb(3, 3, 3), 98%) !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 70%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 80%) !default;

$active-color: mix($primary-color, $background-color, 5%) !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $text-color !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* syntax highlighting (base16) dark */
$base00: #262626 !default;
$base01: #383838 !default;
$base02: #484848 !default;
$base03: #787878 !default;
$base04: #b8b8b8 !default;
$base05: #d8d8d8 !default;
$base06: #e8e8e8 !default;
$base07: #f8f8f8 !default;
$base08: #ab4642 !default;
$base09: #dc9656 !default;
$base0a: #f7ca88 !default;
$base0b: #a1b56c !default;
$base0c: #86c1b9 !default;
$base0d: #7cafc2 !default;
$base0e: #ba8baf !default;
$base0f: #a16946 !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__content {
  a,
  a:visited {
    color: inherit;
}
}

.h3-inline {
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* next/previous buttons */
.pagination--pager {
  background: none;
  border: none;
  color: #888;
  padding: 0.1em 0.3em;
  font-size: 0.6em;

  &:hover {
    color: #000;
  }

  &.disabled {
    color: #ccc;
    pointer-events: none;
    &:hover {
      color: #ccc;
    }
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

figure figcaption {
  display: block;
  width: 100%;
  font-size: 0.8em !important;
  text-align: center;
}

h3.inline-h3 {
  display: inline;
}