/* ==========================================================================
   flyahn skin
   ========================================================================== */

/* Colors */
$background-color: #f7f7f1;
$text-color: #070707;
$primary-color: #AFCBFF;

$border-color: mix(#fff, $background-color, 20%);
$code-background-color: #262626;
$code-background-color-dark: rgba(185, 185, 185, 0.25);

$mark-highlight-color: rgba($primary-color, 0.15);
$block-quote-background-color: rgba($primary-color, 0.1);
$form-background-color: rgba(255, 255, 255, 0.527);
$footer-background-color: mix(#000, $background-color, 3%);
$link-color: #6FA2E8;
$link-color-hover: #5C93DB;
$link-color-visited: mix($link-color, rgb(3, 3, 3), 98%);

$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 70%);
$navicon-link-color-hover: mix(#000, $background-color, 80%);

$active-color: mix($primary-color, $background-color, 5%);

/* YIQ color contrast */
$yiq-contrasted-dark-default: $text-color;
$yiq-contrasted-light-default: #fff;
$yiq-contrasted-threshold: 175;
$yiq-debug: false;

/* syntax highlighting (base16) dark */
$base00: #262626;
$base01: #383838;
$base02: #484848;
$base03: #787878;
$base04: #b8b8b8;
$base05: #d8d8d8;
$base06: #e8e8e8;
$base07: #f8f8f8;
$base08: #ab4642;
$base09: #dc9656;
$base0a: #f7ca88;
$base0b: #a1b56c;
$base0c: #86c1b9;
$base0d: #7cafc2;
$base0e: #ba8baf;
$base0f: #a16946;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__content {
  a,
  a:visited {
    color: inherit;
}
}

.h3-inline {
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* next/previous buttons */
.pagination--pager {
  background: none;
  border: none;
  color: #888;
  padding: 0.1em 0.3em;
  font-size: 0.6em;

  &:hover {
    color: #000;
  }

  &.disabled {
    color: #ccc;
    pointer-events: none;
    &:hover {
      color: #ccc;
    }
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

figure figcaption {
  display: block;
  width: 100%;
  font-size: 0.8em !important;
  text-align: center;
}

h3.inline-h3 {
  display: inline;
}